<!DOCTYPE html>
<html>
<head>
  <title>ParamsRailsLivecode1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="../../../app/assets/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
    <nav  class="header">
      <h1><a href="">CKC</a></h1>
      <ul>
        <li><button><%= link_to("Home", index_path) %></button></li>
        <li><button><%= link_to("New Post", new_path) %></button></li>
        <li><button><a href="">Others</a></button></li>
      </ul>
    </nav>
  </header>

<%= yield %>


  <footer>
    <p>&copy; 2016</p>
  </footer>
</body>
</html>
